.footer-wrap
  footer.footer
    .copy
      = "© #{Date.current.year},"
      '
      a href=root_path Znakomstva-sajt.ru
      '
      | — все о знакомствах и сайтах знакомств. Разработчик: Довнар Антон Александрович
javascript:
  new Image().src = "//counter.yadro.ru/hit?r"+
  escape(document.referrer)+((typeof(screen)=="undefined")?"":
  ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
  screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
  ";"+Math.random();

  (function (d, w, c) {
    (w[c] = w[c] || []).push(function () {
      try {
        w.yaCounter29585435 = new Ya.Metrika({
          id: 29585435,
          clickmap: true,
          trackLinks: true,
          accurateTrackBounce: true
        });
      } catch (e) {
      }
    });

    var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () {
              n.parentNode.insertBefore(s, n);
            };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
    } else {
      f();
    }
  })(document, window, "yandex_metrika_callbacks");
noscript
  div
    img alt="" src="//mc.yandex.ru/watch/29585435" style=("position:absolute; left:-9999px;") /




