meta http-equiv="Content-Type" content="text/html; charset=utf-8"
meta content="True" name="HandheldFriendly"
meta content="320" name="MobileOptimized"
meta content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui" name="viewport" /
meta name="viewport" content="width=device-width"
meta content="IE=edge" http-equiv="X-UA-Compatible"
meta content="noyaca" name="robots"
= favicon_link_tag 'favicon.ico'
= csrf_meta_tag rescue nil